.head-text{
  position: relative;
  color: white;
  font-size: medium;
}
.title{

  font-size:small;
}  

  .center__text{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
    
    .Imgbackground  {
      max-width:  100%;
      height: 90%;
      filter: brightness(50%)
    }
    .ocupationText{
            font-size: large;
            padding-bottom: auto;
            border-bottom-style: solid;
            border-bottom-width: 3.5px;
            width: fit-content;
   
    }
    

      

    