:root {
  --text-title:40px;
  --text-subtitle:18px;
  --text-parrafo:14px;
  --primary-color:#000;
  --second-color:white;
}

.head-text {
  position: relative;
  color: white;
  font-size: medium;
}

.title {

  font-size: small;
}

.center__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-hero {
  background-size: cover;
  height: 100vh;
  width: 100%;

}

.bg-overlay {
  background:black;
  opacity: 0.3;
}

.video{
 height: 100%;
 width: 100%;
 object-fit: cover;
}


.section-subtitle{
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: #666;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.section-subtitle span{
  position: relative;
}

.section-subtitle span::before{
  display: inline-block;
  content: '';
  height: 1px;
  background-color: #666;
  width: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: -30px;
}

.section-subtitle span::after {
  display: inline-block;
  content: '';
  height: 1px;
  background-color: #666;
  width: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* HERO */

.hero-title{
  font-size: var(--text-title);
  text-align: center;
}

.ocupation-hero {
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
  font-size: var(--text-subtitle);
}

.micro-desc {
  font-size: var(--text-parrafo);
  max-width: 700px;
}

/* Nav Bar */

.left{
  padding: 14px;
}
.bg-navbar {
  background-color: var(--primary-color);
  padding: 14px;

}

.dropdown-toggle:first-child {
  color: white !important;
  padding: 14px;
}
.basic-nav-dropdown a {
  color: var(--second-color) !important;
  padding: 14px;
}

/* SKILLS */

.rectangle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #dddddd;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-box-shadow: 4px 4px 0px 0px #dddddd;
  -o-box-shadow: 4px 4px 0px 0px #dddddd;
  -moz-box-shadow: 4px 4px 0px 0px #dddddd;
  box-shadow: 4px 4px 0px 0px #dddddd;
}

.rectangle svg {
  transform: rotate(315deg);
}

.title-for-skills {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

.description-for-skills {
  font-size: 12px;
  margin-top: 25px;
  text-align: right;
}

.title-for-skills2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.description-for-skills2 {
  font-size: 12px;
  margin-top: 25px;
}

.grid-skills{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 30px;
}
.left-skills{
  display: flex;
  gap: 20px;
  height: 100%;
}
.right-skills{
  display: flex;
  gap: 20px;
  height: 100%;
}
.skills-item1{
  flex-basis: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills-item2{
  flex-basis: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .social-rectangle a {
  box-shadow: none;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-rectangle a i {
  transform: rotate(315deg);
  font-size: 22px;
}

.social-media {
  background-color: black;
  padding: 30px 0;
}
.social-media div {
  display: flex;
  justify-content: center;
}
.foot {
  padding: 61px 0;
}
.foot-a{
  background-color: #000;
  box-shadow: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}

.foot a i {
  transform: rotate(315deg);
  font-size: 22px;
}

.footer-description i{
  font-size: 20px;


.footer-description span{
  color: #196fc2;
  text-decoration: underline;

}

.footer-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


ul {
  position: relative;
  display: flex;
}
ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
}
ul li a .fa-brands {
  font-size: 3em;
  color: #222;
}
ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

ul li:nth-child(1) a::before {
  content: "\f16d";
  background-image: linear-gradient(45deg, 
    #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
    #bc1888 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}
ul li:nth-child(2) a::before {
  content: "\f232";
  color: #25D366;
  border-bottom: 4px solid #25D366;
}
ul li:nth-child(3) a::before {
  content: "\f099";
  color: #1DA1F2;
  border-bottom: 4px solid #1DA1F2;
}
ul li:nth-child(4) a::before {
  content: "\f09b";
  color: white;
  border-bottom: 4px solid white;
}
ul li:nth-child(5) a::before {
  content: "\f08c";
  color: #0072b1;
  border-bottom: 4px solid #0072b1;
}
ul li:hover a::before {
  height: 130%;
  top:-12px;
}




@media (max-width:765px) {
  .grid-skills {
    grid-template-columns: 1fr; 
    gap: 15px;
  }
  .video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
}







