.chr-card {
    padding: 30px;
    background-color: transparent;
    color: white;
}
.chr-img {
    width: 250px;
    height: 250px;
}

.poke-card {
    padding: 30px;
    background-color: transparent;
    color: white;

}
.poke-img {
    width: 250px;
    height: 250px;
}


.btn-close {
    width: 50px;
    height: 50px;
    color: white;
}

@media (max-width:750px) {
    .api-container {
        display: flex;
        flex-direction: column;
        gap:50px;
        position: absolute;
        align-items: center;
        right: -230px;
        bottom: -350px;
    }
}

/* bio background styles */

.bioBackground{
    background-image: url('./assets/images/4kk.jpg');
    background-repeat: no-repeat;
    height: 1000px;
    position:relative;
    

}

.bioimg{
    height: 600px;
    width: 435px;
    position: absolute;
    right: 9%;
    bottom: 35%;
    border-radius: 50px;

}   

.animationText {
    position: absolute;
    right: 9%;
    bottom: 40%;
}
@media (max-width:765px) {
    .bioimg {
        height: 300px;
        width: 217px;
        position: absolute;
        right: 24%;
        bottom: 69%;
    }
     .card-body-res{
        width: 130px;
        height: 120px;
        left: -130px;
        background: transparent;
  
     }
    
    .modalrandm{
        max-width: 70px;
        max-height: 70px;
        position: relative;
        top: 450px;
        right: 100px;
    }
    .card-img-text{
        color: white;
        
    }
    .chr-card{
        padding: 0px;
    }

    .chr-img {
        width: 133px;
        height: 160px;
    }
    .poke-img{
        width: 120px;
        height: 80px;
        align-items: center;
    }
    .card-title{
        font-size: 0.75rem;
    }
    .textresponsive{
        display: none;
    }
          

}